In [21]:
# Import the Libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [22]:
# Load the Data

data=pd.read_csv('H:\My Drive\Data Science - End to End Projects\ANN Classification\Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [23]:
# Preprocess the Data

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [24]:
# Encode Categorical Variables

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [25]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [26]:
# One-hot encode 'Geography'

onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [27]:
# Combine one-hot encoded columns with original data

data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [28]:
# Split the data into features and target

X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [29]:
## Split the data in training and tetsing sets

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [30]:
## Scale these features

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [31]:
# Save the encoders and scaler for later use

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [32]:
# Import the Libraries

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [33]:
# Build the model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [35]:
# Set up Early Stopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [36]:
# Train the model

history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 100382.8047 - mae: 100382.8047 - val_loss: 98533.4375 - val_mae: 98533.4375
Epoch 2/100
250/250 [==============================] - 0s 968us/step - loss: 99675.3984 - mae: 99675.3984 - val_loss: 97093.2969 - val_mae: 97093.2969
Epoch 3/100
250/250 [==============================] - 0s 863us/step - loss: 97155.4297 - mae: 97155.4297 - val_loss: 93384.4609 - val_mae: 93384.4609
Epoch 4/100
250/250 [==============================] - 0s 825us/step - loss: 92151.6953 - mae: 92151.6953 - val_loss: 87143.4688 - val_mae: 87143.4688
Epoch 5/100
250/250 [==============================] - 0s 864us/step - loss: 84818.6875 - mae: 84818.6875 - val_loss: 79077.4141 - val_mae: 79077.4141
Epoch 6/100
250/250 [==============================] - 0s 819us/step - loss: 76093.5234 - mae: 76093.5234 - val_loss: 70371.3594 - val_mae: 70371.3594
Epoch 7/100
250/250 [==============================] - 0s 938us/step - loss: 67401.2812 - mae: 67401.2812 - val_loss: 62589.9023 - val_mae: 62589.9023
Epoch 8/100
250/250 [==============================] - 0s 795us/step - loss: 60168.2031 - mae: 60168.2031 - val_loss: 56758.8750 - val_mae: 56758.8750
Epoch 9/100
250/250 [==============================] - 0s 807us/step - loss: 55092.4609 - mae: 55092.4609 - val_loss: 53177.1875 - val_mae: 53177.1875
Epoch 10/100
250/250 [==============================] - 0s 939us/step - loss: 52226.4766 - mae: 52226.4766 - val_loss: 51530.4453 - val_mae: 51530.4453
Epoch 11/100
250/250 [==============================] - 0s 855us/step - loss: 50935.7383 - mae: 50935.7383 - val_loss: 50943.9570 - val_mae: 50943.9570
Epoch 12/100
250/250 [==============================] - 0s 845us/step - loss: 50378.8281 - mae: 50378.8281 - val_loss: 50750.0859 - val_mae: 50750.0859
Epoch 13/100
250/250 [==============================] - 0s 817us/step - loss: 50175.3828 - mae: 50175.3828 - val_loss: 50702.1211 - val_mae: 50702.1211
Epoch 14/100
250/250 [==============================] - 0s 907us/step - loss: 50079.8203 - mae: 50079.8203 - val_loss: 50672.5430 - val_mae: 50672.5430
Epoch 15/100
250/250 [==============================] - 0s 826us/step - loss: 50015.8984 - mae: 50015.8984 - val_loss: 50644.0078 - val_mae: 50644.0078
Epoch 16/100
250/250 [==============================] - 0s 981us/step - loss: 49969.2109 - mae: 49969.2109 - val_loss: 50624.2773 - val_mae: 50624.2773
Epoch 17/100
250/250 [==============================] - 0s 814us/step - loss: 49929.4297 - mae: 49929.4297 - val_loss: 50601.5000 - val_mae: 50601.5000
Epoch 18/100
250/250 [==============================] - 0s 862us/step - loss: 49894.1641 - mae: 49894.1641 - val_loss: 50582.5273 - val_mae: 50582.5273
Epoch 19/100
250/250 [==============================] - 0s 840us/step - loss: 49867.2188 - mae: 49867.2188 - val_loss: 50571.0508 - val_mae: 50571.0508
Epoch 20/100
250/250 [==============================] - 0s 828us/step - loss: 49835.6797 - mae: 49835.6797 - val_loss: 50557.5117 - val_mae: 50557.5117
Epoch 21/100
250/250 [==============================] - 0s 803us/step - loss: 49810.2227 - mae: 49810.2227 - val_loss: 50546.9570 - val_mae: 50546.9570
Epoch 22/100
250/250 [==============================] - 0s 920us/step - loss: 49786.5273 - mae: 49786.5273 - val_loss: 50526.8359 - val_mae: 50526.8359
Epoch 23/100
250/250 [==============================] - 0s 815us/step - loss: 49765.0312 - mae: 49765.0312 - val_loss: 50520.0156 - val_mae: 50520.0156
Epoch 24/100
250/250 [==============================] - 0s 862us/step - loss: 49745.6562 - mae: 49745.6562 - val_loss: 50504.6328 - val_mae: 50504.6328
Epoch 25/100
250/250 [==============================] - 0s 801us/step - loss: 49727.3320 - mae: 49727.3320 - val_loss: 50493.4727 - val_mae: 50493.4727
Epoch 26/100
250/250 [==============================] - 0s 869us/step - loss: 49707.2383 - mae: 49707.2383 - val_loss: 50483.2578 - val_mae: 50483.2578
Epoch 27/100
250/250 [==============================] - 0s 807us/step - loss: 49690.8633 - mae: 49690.8633 - val_loss: 50468.2617 - val_mae: 50468.2617
Epoch 28/100
250/250 [==============================] - 0s 807us/step - loss: 49678.6797 - mae: 49678.6797 - val_loss: 50465.0195 - val_mae: 50465.0195
Epoch 29/100
250/250 [==============================] - 0s 867us/step - loss: 49660.4453 - mae: 49660.4453 - val_loss: 50457.6680 - val_mae: 50457.6680
Epoch 30/100
250/250 [==============================] - 0s 827us/step - loss: 49650.5977 - mae: 49650.5977 - val_loss: 50445.9453 - val_mae: 50445.9453
Epoch 31/100
250/250 [==============================] - 0s 845us/step - loss: 49632.7383 - mae: 49632.7383 - val_loss: 50435.3594 - val_mae: 50435.3594
Epoch 32/100
250/250 [==============================] - 0s 782us/step - loss: 49625.1797 - mae: 49625.1797 - val_loss: 50430.2305 - val_mae: 50430.2305
Epoch 33/100
250/250 [==============================] - 0s 869us/step - loss: 49609.9883 - mae: 49609.9883 - val_loss: 50424.0000 - val_mae: 50424.0000
Epoch 34/100
250/250 [==============================] - 0s 872us/step - loss: 49602.0078 - mae: 49602.0078 - val_loss: 50410.4922 - val_mae: 50410.4922
Epoch 35/100
250/250 [==============================] - 0s 856us/step - loss: 49588.2734 - mae: 49588.2734 - val_loss: 50408.6758 - val_mae: 50408.6758
Epoch 36/100
250/250 [==============================] - 0s 803us/step - loss: 49579.8242 - mae: 49579.8242 - val_loss: 50403.7852 - val_mae: 50403.7852
Epoch 37/100
250/250 [==============================] - 0s 861us/step - loss: 49570.2031 - mae: 49570.2031 - val_loss: 50400.9766 - val_mae: 50400.9766
Epoch 38/100
250/250 [==============================] - 0s 882us/step - loss: 49559.1836 - mae: 49559.1836 - val_loss: 50390.9023 - val_mae: 50390.9023
Epoch 39/100
250/250 [==============================] - 0s 870us/step - loss: 49550.3750 - mae: 49550.3750 - val_loss: 50392.3789 - val_mae: 50392.3789
Epoch 40/100
250/250 [==============================] - 0s 924us/step - loss: 49543.7969 - mae: 49543.7969 - val_loss: 50384.5703 - val_mae: 50384.5703
Epoch 41/100
250/250 [==============================] - 0s 801us/step - loss: 49533.1367 - mae: 49533.1367 - val_loss: 50380.6328 - val_mae: 50380.6328
Epoch 42/100
250/250 [==============================] - 0s 866us/step - loss: 49525.3164 - mae: 49525.3164 - val_loss: 50381.3320 - val_mae: 50381.3320
Epoch 43/100
250/250 [==============================] - 0s 876us/step - loss: 49516.3398 - mae: 49516.3398 - val_loss: 50379.0977 - val_mae: 50379.0977
Epoch 44/100
250/250 [==============================] - 0s 858us/step - loss: 49510.1680 - mae: 49510.1680 - val_loss: 50375.9648 - val_mae: 50375.9648
Epoch 45/100
250/250 [==============================] - 0s 939us/step - loss: 49502.7969 - mae: 49502.7969 - val_loss: 50381.6055 - val_mae: 50381.6055
Epoch 46/100
250/250 [==============================] - 0s 835us/step - loss: 49494.2344 - mae: 49494.2344 - val_loss: 50377.3438 - val_mae: 50377.3438
Epoch 47/100
250/250 [==============================] - 0s 849us/step - loss: 49488.9844 - mae: 49488.9844 - val_loss: 50367.7852 - val_mae: 50367.7852
Epoch 48/100
250/250 [==============================] - 0s 843us/step - loss: 49481.6523 - mae: 49481.6523 - val_loss: 50371.7617 - val_mae: 50371.7617
Epoch 49/100
250/250 [==============================] - 0s 892us/step - loss: 49474.2695 - mae: 49474.2695 - val_loss: 50366.8594 - val_mae: 50366.8594
Epoch 50/100
250/250 [==============================] - 0s 822us/step - loss: 49468.6133 - mae: 49468.6133 - val_loss: 50362.7148 - val_mae: 50362.7148
Epoch 51/100
250/250 [==============================] - 0s 834us/step - loss: 49459.4805 - mae: 49459.4805 - val_loss: 50369.2812 - val_mae: 50369.2812
Epoch 52/100
250/250 [==============================] - 0s 851us/step - loss: 49452.2266 - mae: 49452.2266 - val_loss: 50376.6250 - val_mae: 50376.6250
Epoch 53/100
250/250 [==============================] - 0s 830us/step - loss: 49447.4258 - mae: 49447.4258 - val_loss: 50369.6836 - val_mae: 50369.6836
Epoch 54/100
250/250 [==============================] - 0s 807us/step - loss: 49442.2070 - mae: 49442.2070 - val_loss: 50369.5000 - val_mae: 50369.5000
Epoch 55/100
250/250 [==============================] - 0s 897us/step - loss: 49439.0664 - mae: 49439.0664 - val_loss: 50375.3320 - val_mae: 50375.3320
Epoch 56/100
250/250 [==============================] - 0s 832us/step - loss: 49429.7656 - mae: 49429.7656 - val_loss: 50383.1328 - val_mae: 50383.1328
Epoch 57/100
250/250 [==============================] - 0s 800us/step - loss: 49427.7734 - mae: 49427.7734 - val_loss: 50377.9688 - val_mae: 50377.9688
Epoch 58/100
250/250 [==============================] - 0s 938us/step - loss: 49420.5469 - mae: 49420.5469 - val_loss: 50373.5586 - val_mae: 50373.5586
Epoch 59/100
250/250 [==============================] - 0s 896us/step - loss: 49410.1992 - mae: 49410.1992 - val_loss: 50376.1094 - val_mae: 50376.1094
Epoch 60/100
250/250 [==============================] - 0s 833us/step - loss: 49409.6641 - mae: 49409.6641 - val_loss: 50376.2773 - val_mae: 50376.2773

In [37]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [38]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 4436), started 0:00:34 ago. (Use '!kill 4436' to kill it.)

In [ ]:
## Evaluate model on the test data

test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 556us/step - loss: 50362.7148 - mae: 50362.7148
Test MAE : 50362.71484375

In [40]:
model.save('regression_model.h5')

h:\My Drive\Data Science - End to End Projects\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(